<div class="cards">
    <a href="#">
        <div class="single-card">
            <div class="top">
                <div class="left">
                    <span class="las la-users"></span>
                </div>
                <div class="right">
                    <span>
                        3
                    </span>
                </div>
            </div>
            <div class="bottom">
                All Users
            </div>
        </div>
    </a>
    <div class="single-card">
        <div class="top">
            <div class="left">
                <span class="las la-users"></span>
            </div>
            <div class="right">
                <span>
                 612
                </span>
            </div>
        </div>
        <div class="bottom">
            Daily Traffic
        </div>
    </div>

    <div class="single-card">
        <div class="top">
            <div class="left">
                <span class="las la-users"></span>
            </div>
            <div class="right">
                <span>
                    4
                </span>
            </div>
        </div>
        <div class="bottom">
            Total Locations
        </div>
    </div>
    <a href="/messages">
        <div class="single-card">
            <div class="top">
                <div class="left">
                    <span class="las la-users"></span>
                </div>
                <div class="right">

                    <span>
                      6
                    </span>

                </div>
            </div>
            <div class="bottom">
                Unread Messages
            </div>
        </div>
    </a>
</div>