<div id="form-error-msg"></div>
<form action="/send/message" method="post" class="message-form" id="home-page">
    <div class="mb-3 mt-3">
        <input type="text" class="form-control" placeholder="Your Name*" name="name">
    </div>
    <div class="mb-3 mt-3">
        <input type="email" class="form-control" placeholder="Enter email*" name="email">
    </div>
    <div class="mb-3">
        <input type="text" class="form-control" placeholder="Subject*" name="subject">
    </div>
    <label for="comment">Message*:</label>
    <textarea class="form-control" rows="5" name="message"></textarea>
    <button type="submit" class="btn btn-success-b mt-2 w-100">Submit</button>
</form>