<input type="checkbox" id="sidebar-toggle" class="d-none">
<!-- <input type="checkbox" id="sidebar-close" class="d-none"> -->

<div class="sidebar">
    <div class="logo">
        <a href="/d"><img src="/img/logo3.png" alt=""></a>
        <label for="sidebar-toggle">
            <span class="las la-times"></span>
        </label>
    </div>

    <ul>
        <li>
            <span class="las la-igloo"></span>
            <a href="/" target="_blank">View Frontend</a>
        </li>
        <li>
            <span class="las la-igloo"></span>
            <a href="/d">Dashboard</a>
        </li>

        <li class="product-types">
            <span class="las la-clipboard"></span>
            <a href="#">Page</a>
        
            <ul class="car-dropdown">
                <li>
                    <span class="las la-clipboard"></span>
                    <a href="/d/pages">All Pages</a>
                </li>
                <li>
                    <span class="las la-clipboard"></span>
                    <a href="/d/create">Create New</a>
                </li>
    
            </ul>
        
        </li>
        <li class="product-types">
            <span class="las la-users"></span>
            <a href="#">Users</a>
        
            <ul class="car-dropdown">
                <li>
                    <span class="las la-users"></span>
                    <a href="#">All Users</a>
                </li>
                <li>
                    <span class="las la-clipboard"></span>
                    <a href="/secure/register">Create New</a>
                </li>
            
            </ul>
        
        </li>


        <li>
            <span class="las la-clipboard"></span>
            <a href="#">Posts</a>
        </li>

        <li>
            <span class="las la-clipboard-list"></span>
            <span class="notification">
                <a href="#">Categories</a>
            </span>
        </li>
        <li>
            <span class="las la-clipboard-list"></span>
            <span class="notification">
                <a href="/secure/logout">Logout</a>
            </span>
        </li>



    </ul>


</div>