
<body>
   
    <div class="container404">

        <h5>We have Moved out of Solanke Street, Ajao Estate</h5>
         <br>
        <h6>We are now in N0: 4 Takoradi Street, Apapa GRA Lagos</h6>

           <a href="/" class="btn btn-outline-info my-5">Back to Homepage</a>
    </div>




</body>
</html>