

<body>

<%- include('./partials/navbar') %>

<section class="showcase">
    <!-- <video src="/img/video.mp4" muted loop autoplay></video> -->
    <div class="overlay"></div>
    <div class="text">
        <h2>Never Stop </h2>
        <h3>Exploring The World</h3>
        <p>At Allroundcargo, we integrate honesty, integrity and business ethics into all aspects of our business dealings.</p>
        <a href="/d/contacts">Reach out</a>
    </div>
  

</section>

  <div class="card-section">
    <div class="row">
        <div class="col-sm-4">
            <div class="cards">
                <div class="card-top"><img src="/img/ship-icon.png" alt=""></div>
                <div class="card-title">Sea Freight</div>
                <div class="cardbody">Our range of services cover a wide array of sea freight services and general logistics, we are capable of overseeing
                your cargo from any take-off port in China to any Nigerian Port, and vice versa, we provide professional local and
                international sea freight services. All round cargo company has the capability to handle both wet and dry cargo</div>
                <div class="card-footer my-2 border-0">
                    <a href="/d/sea-freight" class="btn btn-outline-danger">Read more</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
             <div class="cards">
                <div class="card-top"><img src="/img/air-icon.png" alt=""></div>
                <div class="card-title">Air Freight</div>
                <div class="cardbody">AllRound Cargo Company is one of the leading international air freight services provider in Nigeria. We are able to
                manage both inbound and outbound shipments through Murtala Muhammed International Airport Lagos (MMIA) and all other Major Airports around Nigeria. While we deploy more work force on Sea freight and Logistics, we also personalize
               </div>
                <div class="card-footer my-2 border-0">
                    <a href="/d/air-freight" class="btn btn-outline-danger">Read more</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
             <div class="cards">
                <div class="card-top"><img src="/img/truck-cargo.png" alt=""></div>
                <div class="card-title">Truck Services</div>
                <div class="cardbody">We have the capability of picking up your consignment, parcel, goods etc from your house, office or warehouse, anywhere
                within Lagos, and delivering it to your desired designation in china, or Europe, we boast of capable delivery
                architecture, manpower and good working relationship with all neccessary institutions within Nigeria and China</div>
                <div class="card-footer my-2 border-0">
                    <a href="/d/haulage-and-land-transportation" class="btn btn-outline-danger">Read more</a>
                </div>
            </div>
        </div>
    </div>
  </div>

  <div class="image-section">
    <div class="row">
        <div class="col-sm-6">
    <%- include('./partials/slider_widget') %>
         
        </div>


        <div class="col-sm-6">
            <div class="img-title">
             <div class="title-head">Why Choose Us</div>
                <span>ALLROUND CARGO COMPANY has established itself as a leading provider of top-quality service in various marketplaces over
                the course of many years. This extensive experience has enabled us to bring to the table an unparalleled level of
                expertise. Our dedicated team of professionals possesses an extensive skill set in all aspects of forwarding and
                logistics, ensuring that we are fully prepared to meet and exceed your important requirements.
                
                One of the key factors that sets us apart from other companies is our commitment to treating your freight as if it were
                our own. We understand the significance of your cargo and the importance of ensuring its safe and timely delivery. That
                is why we go above and beyond to handle your shipment with the utmost care, regardless of how far away it may be from
                its origin or destination. When you choose ALLROUND CARGO COMPANY, you can have peace of mind knowing that your cargo is
                in the hands of people who genuinely care.
                
               
                </span>
            </div>
        </div>
    </div>
  </div>

   <!-- jumbotron -->

<%- include('./partials/jumbotron') %>

  <div class="contact-section parralex">
    <div class="overlay"></div>
    <div class="row">
        <div class="col-sm-6 d-flex">
            <div class="contact-msg" id="drop">
                <h2>Drop us a Note <span>👉</span></h2>
                <h4>We will get back to you as quick as possible</h4>
            </div>
        </div>
        <div class="col-sm-6 bg-white-form">
             <!-- Contact form -->
            <%- include('./partials/contactForm') %>
        </div>
    </div>
  </div>

